# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
PointBlank.Game/obj/Debug/PointBlank.Game.pdb
PointBlank.Game/obj/Debug/PointBlank.Game.csproj.GenerateResource.cache
PointBlank.Game/obj/Debug/PointBlank.Game.csproj.FileListAbsolute.txt
PointBlank.Game/obj/Debug/PointBlank.Game.csproj.CoreCompileInputs.cache
PointBlank.Game/obj/Debug/PointBlank.Game.csproj.AssemblyReference.cache
PointBlank.Game/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PointBlank.Core/obj/Debug/PointBlank.Core.pdb
PointBlank.Core/obj/Debug/PointBlank.Core.csproj.FileListAbsolute.txt
PointBlank.Core/obj/Debug/PointBlank.Core.csproj.CoreCompileInputs.cache
PointBlank.Core/obj/Debug/PointBlank.Core.csproj.AssemblyReference.cache
PointBlank.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PointBlank.Battle/obj/Debug/PointBlank.Battle.pdb
PointBlank.Battle/obj/Debug/PointBlank.Battle.csproj.FileListAbsolute.txt
PointBlank.Battle/obj/Debug/PointBlank.Battle.csproj.CoreCompileInputs.cache
PointBlank.Battle/obj/Debug/PointBlank.Battle.csproj.AssemblyReference.cache
PointBlank.Battle/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PointBlank.Auth/obj/Debug/PointBlank.Auth.pdb
PointBlank.Auth/obj/Debug/PointBlank.Auth.csproj.FileListAbsolute.txt
PointBlank.Auth/obj/Debug/PointBlank.Auth.csproj.CoreCompileInputs.cache
PointBlank.Auth/obj/Debug/PointBlank.Auth.csproj.AssemblyReference.cache
PointBlank.Auth/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Debug/PointBlank.Game.pdb
Debug/PointBlank.Core.pdb
Debug/PointBlank.Battle.pdb
Debug/PointBlank.Auth.pdb
.vs/PointBlank.Server/v17/.suo
Debug/Logs/Game/2024-09-21--13-07-21.log
*.log
Binary/PointBlank.Auth.exe.config
Binary/PointBlank.Auth.pdb
Binary/PointBlank.Battle.exe.config
Binary/PointBlank.Battle.pdb
Binary/PointBlank.Core.pdb
Binary/PointBlank.Game.exe.config
Binary/PointBlank.Game.pdb
PointBlank.Game/obj/Debug/PointBlank.Game.Properties.Resources.resources
PointBlank.Game/obj/Debug/PointBlank.Game.csproj.SuggestedBindingRedirects.cache
PointBlank.Game/obj/Debug/PointBlank.Game.csproj.FileListAbsolute.txt
PointBlank.Battle/obj/Debug/PointBlank.Battle.csproj.SuggestedBindingRedirects.cache
PointBlank.Core/obj/Debug/PointBlank.Core.csproj.FileListAbsolute.txt
PointBlank.Battle/obj/Debug/PointBlank.Battle.csproj.FileListAbsolute.txt
PointBlank.Auth/obj/Debug/PointBlank.Auth.csproj.SuggestedBindingRedirects.cache
PointBlank.Auth/obj/Debug/PointBlank.Auth.csproj.FileListAbsolute.txt
